snippet co
co(function* () {
  ${1}
});$0
endsnippet

snippet cc
co(function* () {
  ${1}
})
.catch(${2});$0
endsnippet

snippet req
require('${1}')$0
endsnippet

snippet reqe
${1} = require('${2:$1}')$0
endsnippet

snippet reqep
${1} = require(path.resolve('${2:$1}'))$0
endsnippet
