snippet describe
describe(${2:'}${1}$2, () => {
  $0
});
endsnippet

snippet	context
context(${2:'}${1}$2, () => {
  $0
});
endsnippet

snippet it
it(${2:'}${1}$2);$0
endsnippet

snippet itf
it(${2:'}${1}$2, async () => {
  $0
});
endsnippet

snippet before
before((${1}) => {$0});
endsnippet

snippet beforeEach
beforeEach((${1}) => {$0});
endsnippet

snippet after
after((${1}) => {$0});
endsnippet

snippet afterEach
afterEach((${1}) => {$0});
endsnippet
